* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #eee;
  color: #000;
}

/* HEADER */
.navBar {
  width: 100%;
  background: linear-gradient(#070B52, #3863c9);
  padding: 6px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
}

.logo {
  height: 40px;
  width: auto;
  background: #ffffff;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.nav-direita {
  display: flex;
  align-items: center;
  gap: 20px;
}

#divBusca {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#busca {
  border: none;
  outline: none;
}

#divBusca img {
  width: 20px;
  cursor: pointer;
}

.carrinho {
  position: relative;
}

.compras {
  width: 40px;
}

#contadorCarrinho {
  position: absolute;
  top: -6px;
  right: -8px;
  background: red;
  color: white;
  font-size: 12px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PRODUTOS */
.produtos {
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
}

.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

/* CARD */
.produtos-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* IMAGEM COM PROPORÇÃO FIXA */
.produtos-img {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

.produtos-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.produto-texto {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.produto-texto button {
  margin-top: auto;   /* empurra o botão para baixo */
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(#070B52, #3863c9);
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* efeito hover no botão */
.produto-texto button:hover {
  background: #00A4BC;
}

.footer {
  margin-top: 30px;
  font-size: 12px;
  color: #3d3b4296;
}

/* Responsividade */
@media (max-width: 1024px) {
    .item .content h1 { font-size: 2rem; }
    .item .content h3 { font-size: 1rem; }
    .thumb { width: 60px; height: 45px; }
}

@media (max-width: 768px) {
    .item .content { bottom: 12%; left: 5%; max-width: 300px; }
    .item .content h1 { font-size: 2rem; }
    .item .content h3 { font-size: 1rem; }
    .thumb { width: 50px; height: 35px; }
}

@media (max-width: 480px) {
    .item .content h1 { font-size: 1.5rem; }
    .item .content h3 { font-size: 0.9rem; }
    .btn { padding: 8px 15px; font-size: 0.9rem; }
    .thumb { width: 40px; height: 30px; }
}