* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    /*remove barra de rolagem*/
}

/* Cabeçalho / NavBar */
.navBar {
    width: 100%;
    background: linear-gradient(#070B52, #3863c9);
    padding: 6px 20px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* logo a esquerda e menu a direita */
    height: 55px;
    overflow: hidden;
}

/* Logo */
.logo {
    width: 120px;
    height: 120px;
    max-width: 100%;
}

.logo-box {
    background: #ffffff;
    padding: 5px 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* Navegação */
.navBar nav {
    display: flex;
    gap: 25px;
}

.navBar nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 8px;
}

/* Link ativo */
.navBar nav a.active {
    background: rgba(255, 255, 255, 0.25);
}

.navBar nav a:hover {
    background: rgba(255, 255, 255, 0.18);
    transform: translateY(-2px);
}





/* Container */
.container {
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 10px;
    max-width: 1000px;
    padding-left: 20px;
}


/* Img */

.redes a {
    text-decoration: none;
}

.redes img {
    /* border-radius: 50%; */
    width: 100px;
    height: 100px;
}

/* Classe Input */
.box-input {
    align-items: left;
}

/* label Input */
.box-input label {
    display: block;
}

/* Input */
.box-input input {
    border: none;
    border-bottom: 1px solid black;
    margin-right: 20px;
    width: 100%;
    max-width: 300px;
}

.box-input input,
textarea {
    outline: none;
    margin: 20px 0px 10px 20px;
}

.box-input textarea {
    padding: 20px;
    width: 300px;
    height: 130px;
}

/* Button */
.container button {
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: rgba(125, 204, 6, 0.774);
    color: #fff;
    font-weight: bold;

}


/* Mapa */
.mapa-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* Proporção 16:9 (450/800) */
    height: 0;
    overflow: hidden;
}

.mapa-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border: 0;
}