* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #fafcfcaf;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  gap: 40px;
  padding: 40px;
  border-radius: 25px;
  background: #fff;
  box-shadow: 0 10px 30px #5829812f;
}

.left {
  flex: 1;
}

.titulo-principal {
  font-size: 28px;
  margin-bottom: 5px;
}

.subtitulo {
  font-size: 14px;
  color: #6b5b88;
}

.imagem {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.imagem img {
  width: 220px;
}

.titulo-form {
  font-size: 14px;
  color: #9b86b8;
  font-weight: bold;
  margin-bottom: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-size: 13px;
  color: #6b5b88;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ece7f6;
  font-size: 14px;
  box-shadow: 0 6px 18px #0000000d;
}

.btn {
  margin-top: 15px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background:linear-gradient(#070B52, #3863c9);
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background: #00A4BC;
}

.logar {
  margin-top: 15px;
}

.logar a {
  font-size: 12px;
  color: #8d7aa8;
  text-decoration: none;
}

.footer {
  margin-top: 30px;
  font-size: 12px;
  color: #3d3b4296;
}
