* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #fafcfcaf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

/* CONTAINER EM DUAS COLUNAS (LADO A LADO) */
.container {
  width: 100%;
  max-width: 1100px;
  display: flex;              /* ← ISSO GARANTE O LADO */
  flex-direction: row;        /* ← NUNCA COLUMN */
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 10px 30px #5829812f;
}

/* LADO DIREITO — AVIÃO */
.left {
  flex: 1.2;
  background: linear-gradient(#070B52, #3863c9);
  color: #ffffff;
  padding: 50px;

  display:flex;
  flex-direction: column;
  justify-content: center;
}

.titulo {
  font-size: 28px;
  margin: 0 0 5px;
}

.subtitulo {
  margin: 0 0 25px;
  opacity: 0.9;
}

.imagem {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.918);
  padding: 20px;
  border-radius: 12px;
}

.imagem img {
  width: 220px;
  display: block;
}

/* LADO DIREITO — FORMULÁRIO AO LADO */
.right {
  flex: 1;
  background: #ffffff;
  padding: 40px;
}

/* TÍTULO */
.card-titulo {
  font-size: 14px;
  color: #9b86b8;
  font-weight: bold;
  margin-bottom: 12px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-size: 13px;
  color: #6b5b88;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ece7f6;
  font-size: 14px;
  box-shadow: 0 6px 18px #0000000d;
}

.btn {
  background: linear-gradient(#070B52, #3863c9);
  color: #ffffff;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}