* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  min-height: 100vh;
  background: #fafcfcaf;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 10px 30px #5829812f;
  background: #ffffff;

  margin: auto; /* centraliza vertical e horizontal sem quebrar */
}

.left {
  flex: 1.2;
  background: linear-gradient(#070B52, #3863c9);
  color: #ffffff;
  padding: 50px;
}

.titulo-principal {
  font-size: 28px;
  margin-bottom: 5px;
}

.subtitulo {
  margin-bottom: 25px;
  opacity: 0.9;
}

.imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.918);
  padding: 20px;
  border-radius: 180px;
}

.imagem img {
  width: 220px;
  max-width: 100%;
  display: block;
}


.right {
  flex: 1;
  padding: 40px;
}

.card-titulo {
  font-size: 14px;
  color: #9b86b8;
  font-weight: bold;
  margin-bottom: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-size: 13px;
  color: #6b5b88;
}

input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ece7f6;
  font-size: 14px;
  box-shadow: 0 6px 18px #0000000d;
}

/* Lembrar senha */
.lembrar {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.remember {
  color: #7b6a9b;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Links */
.senha a,
.cadastro a,
.home a {
  font-size: 12px;
  color: #8d7aa8;
  text-decoration: none;
}

.senha a {
  margin-top: 10px;
}

.cadastro {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.home a {
  font-size: 15px;
  margin-top: 12px;
  display: flex;
}

.senha a:hover,
.cadastro a:hover,
.home a:hover {
  color: #1aaabdb9;
}


.btn {
  background: linear-gradient(#070B52, #3863c9);
  color: #ffffff;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}


.footer {
  text-align: center;
  font-size: 12px;
  color: #3d3b4296;
  padding: 20px 0;
}

/* Responsivo */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left,
  .right {
    padding: 30px;
  }

  .imagem img {
    width: 160px;
  }
}
