* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #fafcfcaf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 10px 30px #5829812f;
}

/* Logo no lado esquerdo */
.left {
  flex: 1.2;
  background: linear-gradient(#070B52, #3863c9);
  color: #ffffff;
  padding: 50px;
  position: relative;
}

.titulo {
  font-size: 28px;
  margin: 0 0 5px;
}

.subtitulo {
  margin: 0 0 25px;
  opacity: 0.9;
}

/* Configuração da imagem */
.imagem {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.918);
  padding: 20px;                        
  border-radius: 12px;                   
}

.imagem img {
  width: 220px; 
  display: block;
}


/* Login lado direito */
.right {
  flex: 1;
  background: #ffffff;
  padding: 40px;
}

.card-titulo {
  font-size: 14px;
  color: #9b86b8;
  font-weight: bold;
  margin-bottom: 12px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

label {
  font-size: 13px;
  color: #6b5b88;
}

/**/
input[type="text"],
input[type="password"] {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ece7f6;
  font-size: 14px;
  box-shadow: 0 6px 18px #0000000d;
}

.lembrar {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.remember {
  color: #7b6a9b;
  display: flex;
  align-items: center;
  gap: 6px;
}

.senha a{
  text-align: right;
  display: block;
  font-size: 12px;
  color: #8d7aa8;
  margin-top: 10px;
  text-decoration: none;
}

.btn {
  background: linear-gradient(#070B52, #3863c9);
  color: #ffffff;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.cadastro a {
  text-align: center;
  display: block;
  font-size: 12px;
  color: #8d7aa8;
  margin-top: 10px;
  text-decoration: none;
}

.cadastro a:hover{
  color: #120349;
}

.home a{
  font-size: 15px;
  color: #8d7aa8;
  margin-top: 12px;
  display: flex;
  text-decoration: none;
}

.home a:hover{
  color: #120349;
}

/* Responsividade */
@media (max-width: 900px) {
  .stage {
    flex-direction: column;
  }

  .imagem {
    width: 150px;
  }

  .left {
    padding: 30px;
  }

  .right {
    padding: 25px;
  }
}